@font-face {
  font-family: "Arcadia";
  /* src: local("Arcadia"), url("/src/fonts/Arcadia.ttf") format("truetype"); */
  src: url("./fonts/font.woff2") format("woff2"),
    url("./fonts/font.woff") format("woff");
  font-weight: normal;
}

@font-face {
    font-family: 'GrapeNuts-Regular';
    src: url("./fonts/GrapeNuts-Regular.woff") format("woff"), url('./fonts/GrapeNuts-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Italic-VariableFont_wght';
    src: url("./fonts/Montserrat-Italic-VariableFont_wght.woff") format("woff"), url('./fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-VariableFont_wght';
    src: url("./fonts/Montserrat-VariableFont_wght.woff") format("woff"), url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'ShadowsIntoLight-Regular';
    src: url("./fonts/ShadowsIntoLight-Regular.woff") format("woff"), url('./fonts/ShadowsIntoLight-Regular.ttf') format('truetype');
}

.home-page {
  background: url("./img/florida-crossover.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.info-page {
  background: url("./img/villa-parker.jpeg") no-repeat center center;
  /* height: 70vh; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.rsvp-page {
  background: url("./img/flower_transparent_side.png") no-repeat center center, linear-gradient(white, #B2CAB2);
  /* height: 70vh; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.rs-btn {
  border-radius: 20px !important;
  color: black !important;
  border: 1px solid black !important;
}

.section-header {
  text-align: center;
  font-family: Arcadia;
  padding-top: 50px;
}

.delete-icon {
  float: right;
  cursor: pointer;
}

.info-detail {
    font-family: GrapeNuts-Regular;
    text-align: center;
    color: white;
}

.our-story-details-wrapper {
  display: flex;
  flex-direction: row;
}


