body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Magnaline";
  src: local("Magnaline"), url("/src/fonts/Magnaline.ttf") format("truetype");
  font-weight: normal;
}

.home-page {
  background: url("./img/florida-crossover.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.info-page {
  background: url("./img/villa-parker.jpeg") no-repeat center center;
  height: 70vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-text-2 {
  text-align: center;
  /* padding-top: 1vh; */
  font-family: Magnaline;
  /* color: black; */
  top: 50%;
  position: relative;
}

.home-text-1 {
  text-align: center;
  /* padding-top: 40vh; */
  font-family: fabrizio a sc;
  top: 48%;
  position: relative;
}

.home-text-location {
  text-align: center;
  /* padding-bottom: 43vh; */
  font-family: fabrizio a sc;
  top: 55%;
  position: relative;
}

.rsvp-header {
  text-align: center;
  font-family: Magnaline;
}

.rsvp-body {
  text-align: center;
  width: 33vw;
  margin: auto;
}

.rsvp-form {
  text-align: left;
}

.guest-list {
  margin-bottom: 24px;
}

.delete-icon {
  float: right;
  cursor: pointer;
}

.info-header {
  text-align: center;
  font-family: Magnaline;
}

.contact-header {
  text-align: center;
  font-family: Magnaline;
}

.our-story-header {
  text-align: center;
  font-family: Magnaline;
}

.test {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20;
}
